.header
  background: url("./header-bg.jpg") center center no-repeat
  font-family: Lato400


.header
.container
.header__cont
  margin-top: 200px
  & .cont__text
    color: #fefefe
    font-family: "Lato-Heavy"
    font-size: 60px
    font-weight: 400
    text-transform: uppercase
    & span 
      // color: #f64f59
      // color: #8e2de2
      color: #12c2e9
      font-size: 48px
.header__text
  color: #ffffff
  font-family: Lato
  font-size: 16px
  line-height: 24px
.header__btn

  & a
    border-radius: 5px  
    background-color: #ed213a
    background-image: linear-gradient(to right, #e100ff 0%, #f80759 100%)