.header
  .container

    .header__qwe
      |123123123 
    .header__qwe
      |1231231    
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231 
