.header
  .container
    nav
      .head__logo
        .logo__img
          figure
            img(src="#", alt="logo")
        .logo__text 
          |Shape
          span Up
      ul
        //- 1
        li
          a(href='#') Home
        //- 2
        li
          a(href='#') About
        //- 3
        li
          a(href='#') Trainers
        //- 4
        li
          a(href='#') Service
        //- 5
        li
          a(href='#') Reviews
        //- 6
        li
          a(href='#') Price
        //- 7
        li
          a(href='#') Blog
        //- 8
        li
          a(href='#') Contact
    .header__qwe
      |123123123 
    .header__qwe
      |1231231    
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231  
    .header__qwe
      |1231231 
