.about
    .container
        .about__cont
            .about__head
                .shape
                    .shape__title.title_col About ShapeUp
                    .shape__head.head_col Welcome to Healthy Life
                    .shape__line
                        .line
                    .shape__h3 Nunc euismod ante at purus elementum porttitor. Ut nisi nisl, auctor et imperdiet quis risus.
                    .shape__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas est porttitor, malesuada tellus aliquet, vehicula ipsum. Suspendisse porttitor sed dolor ac vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi iaculis tellus vestibulum est accumsan commodo. Curabitur sollicitudin, eros vitae vulputate euismod, nibh tortor accumsan tellus, fringilla hendrerit ligula eros nec velit.
                    .shape__a
                        a(href='#') Learn More
            .about__slider sadasdas
        .about__meet
            .meet
                .meet__title.title_col Meet
                .meet__head.head_col Our Trainers
                .meet__line
                    .line
                .meet__trainers
                    .trainers
                        .trainers__img
                            .trainers__text
                                .trainers__name Letty Adams
                                .trainers__type Fitness Trainer

